# compiled objects and libraries
*.log
*.log1*
*.mod
*.o
*0.f*
*.jpg
*.txt
*.m
*.dat
*.nek5000
*.zip

# tool executables built by running maketools
bin/cgns2nek
bin/exo2nek
bin/genbox
bin/gencon
bin/genmap
bin/gmsh2nek
bin/n2to3
bin/nekamg_setup
bin/nekmerge
bin/postex
bin/postx
bin/pretex
bin/prex
bin/re2torea
bin/reatore2
myEnrich/makefile
myEnrich/*.out
myEnrich/*.slurm
myEnrich/*.dat
myEnrich/*.txt
